header{
    background-color: $bg3;
    margin: 10px;
    .nav{
        width: 80%;
        background-color: $bg2;
        margin: 10px auto;
        .logo{
            text-align: center;
            margin: 10px;
            padding: 10px auto;    
        }
        .menu{
            list-style: none;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .boton{
                padding: 10px;
                margin: 10px;
                &:hover{
                    background-color:$texto2;
                    border-radius:15%;
                } 
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: $texto1;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}